.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    counter-increment: this-counter;
  }
}

.todo-link {
  position: relative;
  font-size: rem-calc(16);
  font-weight: var(--global-weight-semibold);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  color: var(--text-color);
  border: 1px solid var(--brand-color);
  border-radius: var(--global-radius);
  background-image: linear-gradient(340.18deg, rgba(36, 56, 87, 0.5) -75.52%, rgba(255, 255, 255, 0.4) 50.7%);
  background-size: 130% 180%;
  transition: background-position 0.3s linear;

  &:not(.is-disabled):hover {
    background-position: bottom right;
  }

  &:before {
    content: counter(this-counter);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    mask-position: center left;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    background-color: var(--body-bg-shade2);
    color: var(--tint);
  }

  &.is-complete:before {
    content: "";
    mask-image: svg-url(
      '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M11 0C4.926 0 0 4.926 0 11c0 6.078 4.926 11 11 11 6.076 0 11-4.924 11-11 0-6.074-4.924-11-11-11zm4.934 9.357c-.014.016-.025.03-.04.044l-2.261 2.258a.293.293 0 01-.04.035l-.219.219-.018.018-.015.018-1.97 1.966a.092.092 0 01-.018.019l-.743.743a.93.93 0 01-1.289-.016l-.02-.02-2.588-2.588a1.242 1.242 0 01.029-1.736 1.246 1.246 0 011.766 0l1.478 1.479 4.13-4.13c.23-.214.532-.333.846-.333a1.242 1.242 0 01.972 2.024z" fill="#144984"/></svg>'
    );
    -webkit-mask-image: svg-url(
      '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M11 0C4.926 0 0 4.926 0 11c0 6.078 4.926 11 11 11 6.076 0 11-4.924 11-11 0-6.074-4.924-11-11-11zm4.934 9.357c-.014.016-.025.03-.04.044l-2.261 2.258a.293.293 0 01-.04.035l-.219.219-.018.018-.015.018-1.97 1.966a.092.092 0 01-.018.019l-.743.743a.93.93 0 01-1.289-.016l-.02-.02-2.588-2.588a1.242 1.242 0 01.029-1.736 1.246 1.246 0 011.766 0l1.478 1.479 4.13-4.13c.23-.214.532-.333.846-.333a1.242 1.242 0 01.972 2.024z" fill="#144984"/></svg>'
    );
    background-color: var(--success-color);
    border-color: var(--success-color);
  }

  // &.is-ready:before {
  //   background: var(--info-color);
  //   border-color: var(--info-color);
  // }

  &.is-alert {
    border-color: var(--caution-color);

    &:before {
      // content: "";
      // mask-image: svg-url(
      //   '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M21.279 9.244 12.743.7a2.52 2.52 0 0 0-3.486 0L.721 9.244a2.468 2.468 0 0 0 0 3.488l8.536 8.544a2.462 2.462 0 0 0 3.486 0l8.536-8.546a2.468 2.468 0 0 0 0-3.487v.001ZM9.82 5.484A1.18 1.18 0 0 1 11 4.303a1.178 1.178 0 0 1 1.179 1.18v4.718A1.18 1.18 0 0 1 11 11.382a1.178 1.178 0 0 1-1.179-1.18V5.483ZM11 16.493a1.57 1.57 0 0 1-1.541-1.88 1.574 1.574 0 0 1 2.142-1.146 1.571 1.571 0 0 1 .51 2.566 1.57 1.57 0 0 1 1.111.46Z" fill="#FFBE15"/></svg>'
      // );
      // -webkit-mask-image: svg-url(
      //   '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M21.279 9.244 12.743.7a2.52 2.52 0 0 0-3.486 0L.721 9.244a2.468 2.468 0 0 0 0 3.488l8.536 8.544a2.462 2.462 0 0 0 3.486 0l8.536-8.546a2.468 2.468 0 0 0 0-3.487v.001ZM9.82 5.484A1.18 1.18 0 0 1 11 4.303a1.178 1.178 0 0 1 1.179 1.18v4.718A1.18 1.18 0 0 1 11 11.382a1.178 1.178 0 0 1-1.179-1.18V5.483ZM11 16.493a1.57 1.57 0 0 1-1.541-1.88 1.574 1.574 0 0 1 2.142-1.146 1.571 1.571 0 0 1 .51 2.566 1.57 1.57 0 0 1 1.111.46Z" fill="#FFBE15"/></svg>'
      // );
      background-color: var(--caution-color);
    }
  }

  // &.is-active:before {
  //   background-color: var(--tint);
  //   border-width: 8px;
  //   border-style: solid;
  //   width: 4px;
  //   height: 4px;
  // }
  //
  // &.is-active.is-complete:before {
  //   background-color: var(--success-color);
  // }

  &.is-disabled {
    cursor: not-allowed;
  }
}

.todo-count {
  background: var(--info-color-tint4);
  border-radius: var(--global-radius);
  padding: 0 6px;
  margin-right: 4px;
}

.todo-help-text {
  display: flex;
  align-items: center;
  font-size: var(--font-size-small);
  font-weight: var(--global-weight-normal);
  color: var(--text-color);
}

.simpl-push-footer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--site-nav-height));
}

.copyright-text {
  display: none;
}

@include breakpoint($nav-breakpoint) {
  .copyright-text {
    display: block;
    margin-top: auto;
    font-size: 13px;
    padding-top: 20px;
    padding-left: 20px;
  }
}
