
{% if run.multiplayer %}
<a href="#" data-expand-all class="toggle-expandables hide">Expand all</a>
<a href="#" data-collapse-all class="toggle-expandables">Collapse all</a>
{% endif %}

{% if inactive_players %}
<ul class="player-toggle">
  <li><a href="#" data-toggle-elements="[data-tab-pane]" aria-selected="true">Active</a></li>
  <li>
    <a href="#" data-toggle-elements="[data-tab-pane]">
      Inactive
      ({{ inactive_players|length }}{% if inactive_players|length != inactive_count %}/{{ inactive_count }}{% endif %})
    </a>
  </li>
</ul>
{% endif %}