{% load i18n %}

{% block content %}
<form class="prose" action="{{ action|default:'.' }}" method="post">
  {% csrf_token %}
  {% if redirect_to %}<input type="hidden" value="{{ redirect_to }}" name="redirect_to" />{% endif %}
  <p>
    {% if run.ended %}
    The game has now ended for all players. Reference the Resources on your
    <a href="https://interactive.wharton.upenn.edu/dashboard/classes/">My Interactive</a>
    dashboard for suggestions and more information on debriefing
    the experience.
    {% elif not run.ended and run.can_end %}
    <strong>{% trans "End Gameplay" %}</strong>
    {% trans "stops the game. Players will no longer be able to play or submit decisions." %}
    {% elif run.can_restart %}
    <strong>{% trans "Restart Gameplay" %}</strong>
    {% trans "resumes the game allowing players to continue playing and submitting decisions." %}
    {% endif %}
  </p>
  {% if not run.ended and run.can_end %}
  <div class="button-wrap">
    <button type="submit" class="button large" name="end_game">{% trans "End Gameplay" %}</button>
  </div>
  {% elif run.can_restart %}
  <div class="button-wrap">
    <button type="submit" class="button large" name="restart_game">{% trans "Restart Gameplay" %}</button>
  </div>
  {% endif %}
</form>
{% endblock %}
