{% load simpl %}
<div class="player-item no-checkbox">
  <div class="avatar-detail">
    <div class="avatar" style="background:{{ player|playercolor }}">
      <div class="avatar-inner">
        {{ player|playerinitials }}
      </div>
    </div>

    <p class="avatar-detail-meta">{{ player }}
      {% comment %}
      {% if player.user.email %}
      <span class="avatar-detail-desc">{{ player.user.email }}</span>
      {% endif %}
      {% endcomment %}
    </p>
  </div>
  {{ contents }}
</div>
