<header class="simpl-subheader">
  {% if simpl_current_nav != "status" and "status" in simpl_nav and run.status == 0 %}
  <a class="button small simpl-subheader-back" href="{% url 'simpl.status' run.id %}">
    {% include "includes/icon.html" with icon="back" %}
    Return to Game Status
  </a>
  {% else %}
  <span class="simpl-subheader-status">
    Game Status:
    {% if run.status == 0 %}Setup
    {% elif run.status == 2 and not run.ended %}
    Play
    {% elif run.status == 2 and run.ended %}
    Debrief
    {% else %}
    {# this shouldn't ever be seen, but it'll make debugging easier if it is #}
    {{ run.status }}
    {% endif %}
  </span>
  {% endif %}
  <p class="simpl-subheader-help"><span class="hide-on-mobile">Have questions or need assistance?</span>
    <a href="https://whartoninteractive.zendesk.com/hc/en-us/requests/new">Contact the <span class="hide-on-mobile">Wharton Interactive</span> support team</a><span class="hide-on-mobile">.</span></p>
</header>
