.game-stage {
  &-list {
    display: flex;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    background: svg-url('<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509 43" preserveAspectRatio="none"><path d="M.582 4.083C-.18 2.117 1.27 0 3.379 0h493.774c1.17 0 2.233.68 2.723 1.742l8.543 18.5a2.996 2.996 0 0 1 0 2.516l-8.543 18.5A2.998 2.998 0 0 1 497.153 43H3.379C1.271 43-.18 40.882.582 38.916l6.325-16.333a3 3 0 0 0 0-2.166L.582 4.082Z" fill="#fff"/></svg>');
    background-size: 100% 100%;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
  }

  &-item {
    flex: 1 1 100%;
  }

  &-link {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: rem-calc(12) rem-calc(20);
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: rem-calc(16);
    white-space: nowrap;
    font-weight: var(--global-weight-semibold);
    text-decoration: none;
    line-height: 1.2;



    &.is-this-step {
      margin: -4px 0;
      height: calc(100% + 8px);
      color: var(--tint);
      background-image:
        svg-url('<svg fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 8 43"><path d="M3.5 0A3.5 3.5 0 0 0 .232 4.753l5.803 15.136a4.5 4.5 0 0 1 0 3.222L.232 38.247A3.5 3.5 0 0 0 3.5 43h3.738V0H3.5Z" fill="#00D86B"/></svg>'),
        svg-url('<svg fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 16 11"><path fill="#00D86B" d="M0 0h16v11H0z"/></svg>'),
        svg-url('<svg fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 12 43"><path d="m11.467 20.045-8.228-18A3.494 3.494 0 0 0 .238.013v42.974a3.494 3.494 0 0 0 3-2.032l8.23-18a3.5 3.5 0 0 0 0-2.91Z" fill="#00D86B"/></svg>');
      background-size:
        8px 100%,
        calc(100% - 18px) 100%,
        12px 100%;
      background-position:
        top left,
        top left 7px,
        top right;
      background-repeat: no-repeat, no-repeat, no-repeat;
      filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
    }
  }
}
