// Notification Badges
//
// Badges are used to denote quantities or notifications. They can be applied to
// any element, and will appear at the top right corner by default. To use a
// generic notification badge, make `*` the value of the data attribute. If you
// leave the value blank, no badge will appear.
//
// Markup: ../../styleguide/src/components/notification_badges.hbs
//
// Weight: 2
//
// Style guide: notification.badges

[data-notification-badge] {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 5px;
    min-width: var(--notification-badge-high-priority-min-width, 10px);
    height: 12px;
    border-radius: var(--badge-border-radius, 12px);
    background: var(--badge-color, var(--unread-color));
    font-family: var(--global-font-family);
    font-weight: var(--badge-font-weight, normal);
    font-size: rem-calc(12);
    line-height: 12px;
    text-align: center;
    color: var(--badge-text-color, var(--knockout-color));
    content: attr(data-notification-badge);
    transform: translate(20%, -20%);
    letter-spacing: 0;
  }

  &.site-toggle:after {
    top: 10px;

    @at-root .site-header.nav-open & {
      content: none;
    }
  }
}

[data-notification-badge="*"]:after,
[data-notification-badge="high-priority"]:after {
  padding: var(--notification-badge-high-priority-padding, 0);
  min-width: var(--notification-badge-high-priority-min-width, 6px);
  height: var(--notification-badge-high-priority-height, 6px);
  border: var(
    --notification-badge-high-priority-border,
    6px solid var(--badge-color, var(--unread-color))
  );
  font-size: var(--notification-badge-high-priority-font-size, #{rem-calc(20)});
  line-height: var(--notification-badge-high-priority-line-height, 12px);
  background: var(--badge-color, var(--knockout-color));
  content: var(--notification-badge-high-priority-content, "");
}

[data-notification-badge=""]:after {
  content: none;
}

// override all header badge numbers with stars,
// because values are wrong. This will be removed
// when the JS badge count is fixed.
.site-header [data-notification-badge]:after {
  content: var(--notification-badge-high-priority-content, " ");
  border: 0 none;
  padding: var(--notification-badge-high-priority-padding, 0);
  height: var(--notification-badge-high-priority-height, 6px);
  width: var(--notification-badge-high-priority-height, 6px);
  min-width: var(--notification-badge-high-priority-height, 6px);
  line-height: var(--notification-badge-high-priority-line-height, 12px);
  font-size: var(--notification-badge-high-priority-font-size, #{rem-calc(20)});
  border: var(
    --notification-badge-high-priority-border,
    6px solid var(--badge-color, var(--unread-color))
  );
  background: var(--notification-badge-high-priority-bg, var(--knockout-color));
}

//animate for three seconds when this attribute is added.
@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 rgba($white, 0.4);
  }
  70% {
    box-shadow: 0 0 0 12px rgba($white, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($white, 0);
  }
}

@keyframes pulse-info-color {
  0% {
    box-shadow: 0 0 0 0 rgba($info-color, 0.4);
  }
  70% {
    box-shadow: 0 0 0 12px rgba($info-color, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($info-color, 0);
  }
}

[data-notification-badge="high-priority"]:after {
  box-shadow: 0 0 0 0 rgba($info-color, 0.4);
  animation: pulse-info-color 2s infinite;

  .site-header & {
    box-shadow: 0 0 0 0 rgba($white, 0.4);
    animation: pulse-white 2s infinite;
  }
}
