
// overrides for simpl templates
.site-header.is-simpl {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  min-height: var(--site-nav-height);

  p {
    margin: 0;
  }

  .wharton-shield-icon {
    width: 28px;
  }

  .nav-items {
    flex: 1 1 auto;
  }
}

.simpl-header {
  &-title {
    font-weight: var(--global-weight-semibold);
    margin: 0;

    .mode-flag {
      font-style: italic;
      background: rgba(255,255,255,0.15);
      border-radius: 3px;
      padding: 0px 6px;
    }
  }

  &-subtitle {
    font-size: rem-calc(12);
  }

  &-title-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-info {
    font-size: rem-calc(12);
  }

  &-link {
    text-decoration: none;
    color: var(--site-nav-link-color);
    font-size: rem-calc(12);
    display: block;
    white-space: nowrap;
  }
}

.simpl-subheader {
  background: var(--body-bg-shade);
  padding: rem-calc(10);
  font-size: var(--font-size-small);
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
  }

  &-back {
    font-weight: var(--global-weight-semibold);
    color: var(--site-nav-link-color);
    text-decoration: none;

    &:before {
      content: "« ";
    }

    &:hover {
      color: var(--site-nav-link-color-hover);
    }
  }

  &-status {
    font-size: var(--font-size-base);
    font-weight: var(--global-weight-semibold);
    font-style: italic;
  }
}

@include breakpoint($nav-breakpoint) {
  .simpl-header {
    &.has-todos {
      padding-right: calc(var(--todo-aside-width) + 20px);
    }

    &-subtitle {
      font-size: rem-calc(16);
    }

    &-info {
      font-size: var(--font-size-small);
    }

    &-link {
      font-size: var(--font-size-small);
      display: inline;
    }

    &-mini-nav {
      .simpl-header-link + .simpl-header-link:before {
        display: inline-flex;
        padding: 0 8px 0 4px;
        opacity: 0.7;
        content: "/";
      }
    }
  }

  .simpl-subheader {
    padding: rem-calc(10) rem-calc(20);
  }
}
