{% load static %}
{% load includecontents %}
<!DOCTYPE html>
<html class="nav-is-closed" lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}Manage: {{ run }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'simpl/style.css' %}" />
  {% block extra_head %}{% endblock %}
</head>

<body class="{% if run.multiplayer %}theme-alt{% endif %}">
  {% block header %}{% include "simpl/includes/site-header.html" %}{% endblock header %}
  {% block subheader %}{% include "simpl/includes/site-subheader.html" %}{% endblock subheader %}
  <main class="{% block main_wrap_classes %}{% endblock %}">
    {% block content %}

    {% block page_header %}
    <header class="page-header">
      <div class="main-container {% block page_header_width_classes %}{% endblock %}">

        <h1 class="page-heading">{% block heading %}{% endblock %}</h1>
        {% block arrows %}{% endblock arrows %}

        {% block page_description_wrap %}
        <p class="page-header-description">{% block page_description %}{% endblock %}</p>
        {% endblock page_description_wrap %}

        {% block messages %}
        {% include "simpl/includes/messages.html" %}
        {% endblock messages %}
      </div>
    </header>
    {% endblock page_header %}

    <div class="main-container {% block page_content_width_classes %}{% endblock %}">
      {% block left_nav %}{% endblock %}

      {% block content_inner %}

      {% endblock content_inner %}
    </div>

    {% endblock content %}
    <div class="copyright-text">
    <p>©{% now "Y" %}, The Wharton School, The University of Pennsylvania</p>
    </div>
  </main>

  <script type="module">
  import { initComponents } from "{% static 'simpl/simpl.es.js' %}";
  initComponents();
  </script>
  {% block extra_script %}{% endblock %}
</body>

</html>
