{% extends "simpl/base.html" %}

{% block heading %}Configure Gameplay{% endblock %}

{% block content_inner %}
{{ block.super }}
<div class="walkthrough-fieldset mt-4">
  <div class="walkthrough-grid">
    <section class="walkthrough-main edu-l-pad">
      <p class="walkthrough-heading">
        The following settings affect the difficulty of the simulation.
      </p>
    </section>
  </div>

  <div class="walkthrough-grid">
    <section class="walkthrough-main edu-l-pad">
      <div class="card large">
        {% includecontents "simpl/includes/forms/field.html" %}
        {% contents class %}{{ contents.super }} toggle{% endcontents %}
        {% includecontents "simpl/includes/forms/toggle.html" %}
        {% contents help_text %} <strong>Customer Heterogeneity</strong> controls the extent
        to which different types of customers react differently.
        {% endcontents %}
        {% endincludecontents %}
        {% endincludecontents %}

        <div class="field full priority-label toggle">
          <input type="checkbox" id="id_customer_heterogeneity" />
          <label for="id_customer_heterogeneity">
            Customer heterogeneity
            <span class="values" data-checked="Difficult" data-unchecked="Standard"></span>
          </label>
          <p class="help-text">
            <strong>Customer Heterogeneity</strong> controls the extent
            to which different types of customers react differently.
          </p>
        </div>
        <div class="field full priority-label toggle">
          <input type="checkbox" id="id_effect_size" />
          <label for="id_effect_size">
            Average effect size
            <span class="values" data-checked="Difficult" data-unchecked="Standard"></span>
          </label>
          <p class="help-text">
            <strong>Effect Size</strong> controls the magnitude by which
            variants differ in their performance.
          </p>
        </div>
        <div class="field full priority-label toggle">
          <input type="checkbox" id="id_traffic_pp" />
          <label for="id_traffic_pp">
            Average traffic per period
            <span class="values" data-checked="Difficult" data-unchecked="Standard"></span>
          </label>
          <p class="help-text">
            <strong>Average traffic per period</strong> controls how
            many visitors the Nanophone website sees each period.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
