{% extends "simpl/base.html" %}
{% load static %}

{% block heading %}Team Management{% endblock %}

{% block main_wrap_classes %}v-nav-page-layout{% endblock %}

{% block content_inner %}
{{ block.super }}


<div id="loader" data-run="{{ run.pk }}" data-endpoint="{% url 'simpl-api' %}"></div>
<div id="app" class="svelte-app-wrap" {% if simpl_nav.team.next_url %}data-next-step="{{ simpl_nav.team.next_url }}" {% endif %}></div>

<script type="module">
  import { initBalancing } from "{% static 'simpl/simpl.es.js' %}";
  initBalancing(document.getElementById("app"));
</script>

{% endblock %}
