{% extends "simpl/base.html" %}
{% load static %}
{% load i18n %}
{% load includecontents %}

{% block main_wrap_classes %}v-nav-page-layout{% endblock %}



{% block page_header %}
<header class="page-header">
  <div class="main-container {% block page_header_width_classes %}{% endblock %}">
    <div class="player-grid">
      <div class="player-col">
        <div class="page-header-flex-wrap h-pad">
          <h1 class="page-heading">{% trans "Manage Players" %}</h1>
          {% includecontents "simpl/includes/search_form.html" with value=request.GET.q %}
          Filter players
          {% endincludecontents %}
        </div>
      </div>
    </div>
    {% include "simpl/includes/messages.html" %}
  </div>
</header>
{% endblock page_header %}


{% block content_inner %}
<div class="player-grid">

  <div class="player-col">
    <div class="team-scroll is-taller">
      {% if not players and not inactive_players and not invites %}
      <p>No players found.</p>
      {% endif %}

      {% if run.status >= run.STATUS.PLAY %}

      <div id="active" data-tab-pane>
        {% if players or inactive_players%}
        <div class="player-header is-nested">
          <p class="walkthrough-chapter-heading">Active Players
            ({{ players|length }}{% if players|length != players_count %}/{{ players_count }}{% endif %})</p>
            {% include "simpl/includes/players_list/list_header_togglers.html" %}
        </div>
        {% endif %}

        {% if run.multiplayer %}

          {% for team, team_players in teams.items %}
            <div class="card player-card glow-shadow team-card">
              <div class="player-item is-header">
                <h2 class="player-card-heading">
                  {{ team }}
                </h2>

                <div class="player-card-actions">
                  <button class="toggle-button is-expanded" data-toggle-collapsible="#id_{{ team | slugify }}">
                    {% include "includes/icon.html" with icon="caret" %}
                  </button>
                </div>
              </div>
              <div id="id_{{ team | slugify }}" data-is-accordion>
                {% for player in team_players %}
                  {% include "simpl/includes/players_list/multiplayer_in_play.html" %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% else %}{% comment %} Single player {% endcomment %}
          <div class="card player-card glow-shadow team-card">
            {% for player in players %}
                {% include "simpl/includes/players_list/singleplayer_in_play.html" %}
            {% endfor %}
          </div>
        {% endif %}
      </div>

      {% else %}{% comment %} Setup {% endcomment %}

      <div id="active" data-tab-pane>
        {% if players or inactive_players %}
        <div class="player-header is-nested">
          <p class="walkthrough-chapter-heading">Ready to Play
          ({{ players|length }}{% if players|length != players_count %}/{{ players_count }}{% endif %})</p>
          {% include "simpl/includes/players_list/list_header_togglers.html" %}
        </div>
        {% endif %}

        {% if run.multiplayer %}
          {% for team, team_players in teams.items %}
            <div class="card player-card glow-shadow team-card">
              <div class="player-item is-header">
                <h2 class="player-card-heading">
                  {{ team }}
                </h2>
              </div>
              {% for player in team_players %}
                {% include "simpl/includes/players_list/active_player_in_setup.html" %}
              {% endfor %}
            </div>
          {% endfor %}
        {% else %}{% comment %} Single player {% endcomment %}
          <div class="card player-card glow-shadow team-card">
            {% for player in players %}
              {% include "simpl/includes/players_list/active_player_in_setup.html" %}
            {% endfor %}
          </div>
        {% endif %}
      </div>

      {% endif %}

      {% if inactive_players %}
      <div id="inactive" class="hide" data-tab-pane>
        <div class="player-header is-nested">
          <p class="walkthrough-chapter-heading">Inactive Players
          ({{ inactive_players|length }}{% if inactive_players|length != inactive_count %}/{{ inactive_count }}{% endif %})</p>

          <ul class="player-toggle">
            <li>
              <a href="#" data-toggle-elements="[data-tab-pane]">
                Active
                ({{ players|length }}{% if players|length != players_count %}/{{ players_count }}{% endif %})
              </a></li>
            <li><a href="#" data-toggle-elements="[data-tab-pane]" aria-selected="true">Inactive</a></li>
          </ul>
        </div>
        <div class="card player-card team-card is-inactive-player">
          {% for player in inactive_players %}
            {% include "simpl/includes/players_list/inactive_player.html" %}
          {% endfor %}
        </div>
      </div>
      {% endif %}{% comment %} Inactive {% endcomment %}

      {% if invites %}
      <div class="player-header is-nested">
        <p class="walkthrough-chapter-heading">Invites Sent
        ({{ invites|length }}{% if invites|length != invites_count %}/{{ invites_count }}{% endif %})</p>
      </div>
      <div class="card player-card glow-shadow team-card is-inactive-player">
        {% for player in invites %}
          {% include "simpl/includes/players_list/invite.html" %}
        {% endfor %}
      </div>
      {% endif %}{% comment %} Invites {% endcomment %}
    </div>

  </div>

  <div class="player-col">
    {% if inactive_players %}
      <p class="walkthrough-help-heading">
        {% include "includes/icon.html" with icon="info_alt" %}
        There {% if inactive_players|length > 1 %}are{% else %}is{% endif %} {{ inactive_players|length }} inactive player{{ inactive_players | pluralize }}.
      </p>
      {% if not run.multiplayer or simpl_configuring %}
      <p class="walkthrough-help-text is-large">
        Select ‘Mark Active’ next to each player’s name to allow them to join
        the game.
      </p>
      {% endif %}
    {% endif %}


    {% if run.continuous %}
    <p class="walkthrough-help-text is-large">
      New players are allowed to continuously join this game. 
      To see the most up-to-date list of players, please refresh your browser.
    </p>
    {% else %}
    <p class="walkthrough-help-text is-large">
      Click ‘Impersonate’ next to a player to view their game. NOTE: No actions
      can be made as the player while impersonating.
    </p>
    <p class="walkthrough-help-text is-large">
      New players are not currently able to join this game. To allow new players
      to join, return to the Game Status screen.
    </p>
    {% endif %}

    <p class="walkthrough-help-text is-large">
      <a href="{% url 'simpl.download_players' run.pk %}" target="_blank">Download CSV of players</a>
    </p>

  </div>

</div>
{% endblock %}
