{% extends "simpl/base.html" %}

{% block left_nav %}{% endblock %}
{% block footer_classes %}{% endblock %}

{% block main_wrap_classes %}is-below-edu-header{% endblock %}
{% block content_wrap_classes %}edu-h-pad has-todo-aside{% endblock %}
{% block wizard_end_button_classes %}is-disabled{% endblock %}

{% block content_inner %}
{{ block.super }}
<div class="page-header-description">
  <form class="well" action="." method="post">
    {% csrf_token %}
    {% if redirect_to %}<input type="hidden" value="{{ redirect_to }}" name="redirect_to" />{% endif %}
    <h2 class="page-subheading">{% if run.ended %}Restart {% else %}End{% endif %} Gameplay</h2>

    <p class="large">When you start the game, players will be able to begin gameplay.</p>

    <p>
      {% if not run.ended %}
      End Gamplay stops the game. Players will no longer be able to play or submit decisions.
      {% else %}
      <strong>Restart Gamplay</strong> resumes the game. Players can continue to submit decisions.
      {% endif %}
    </p>
    <div class="button-wrap">
      <button type="submit" class="button large">
        {% if not run.ended %}
        End Gameplay
        {% else %}
        Restart Gameplay
        {% endif %}
      </button>
    </div>
  </form>
</div>
{% endblock %}
